
.ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container >.ant-table-sticky-holder >table >thead>tr>th {
    background-color: rgba(26, 26, 26, 1);
    color: rgb(173, 179, 192);
    font-size: 11px;
    text-align: center;
    text-transform: uppercase!important;
}

// .ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container >.ant-table-sticky-holder >table >thead>tr>th.ant-table-cell {
//     border-right: 1px solid rgb(40, 46, 55)!important;
//     border-bottom: 1px solid rgb(40, 46, 55)!important;
// }

.ant-table-wrapper table {
    border-spacing: 0!important;
}

.ant-table-content {
    background-color: rgb(39, 39, 39)!important;
}

.ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container >.ant-table-body >table > tbody > tr.table-row-light > td {
    background-color: rgba(16, 16, 16, 1)!important;
}

.ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container >.ant-table-body >table > tbody > tr.table-row-dark > td {
    background-color: black!important;
}

// .ant-table-cell .ant-table-cell-fix-left .ant-table-cell-fix-left-last {
//     background-color: unset!important;
// }

.ant-table-cell {
    box-shadow: rgb(40, 46, 55) -1px -1px 0px!important;
    text-align: right;
    border-right: 1px solid rgb(40, 46, 55)!important;
    border-bottom: 1px solid rgb(40, 46, 55)!important;
}

.ant-table-tbody > tr.ant-table-row-level-0:hover > td {
    background-color: rgb(39, 39, 39)!important;
}

// .ant-table-tbody > tr.ant-table-row-level-0 > td {
//     background-color: rgb(39, 39, 39)!important;
// }

.ant-table-cell-row-hover {
    background-color: rgb(39, 39, 39)!important;
}

.ant-table-row {
    font-size: 11px;
    height: 28px!important;
}

.ant-table-tbody > tr > td{
    padding: 0 6px 0 0!important;
}

.purple-cell {
    color: rgb(255, 0, 255);
}

.blue-cell {
    color: rgb(16, 198, 255);
}

.yellow-cell {
    color: rgb(255, 245, 0);
}

.green-cell {
    color: rgb(0, 255, 71);
}

.red-cell {
    color: rgb(255, 55, 55);
}

.bold-cell {
    font-weight: 400;
    background-color: inherit!important;
}

.greyColumn {
    background-color: rgb(39, 39, 39)!important;
}
