.ant-table-tbody > tr > td{
    padding: 0 6px 0 0!important;
}

.purple-cell {
    color: rgb(255, 0, 255);
}

.blue-cell {
    color: rgb(16, 198, 255);
}

.yellow-cell {
    color: rgb(255, 245, 0);
}

.green-cell {
    color: rgb(0, 255, 71);
}

.red-cell {
    color: rgb(255, 55, 55);
}

.white-cell {
    color: rgb(255, 255, 255);
}

.bold-cell {
    font-weight: 600;
}

table {
    position: relative;
    font-size: 11px;
    width: 100%;

    thead {
        color: rgb(173, 179, 192);
        background-color: rgb(28, 26, 41);
        position: sticky;
        top: 0;

        th {
            border-right: 1px solid rgb(53, 54, 65);
            position: relative;
        }
        
        .group-header {
            box-shadow: inset 0 -1px 0 rgb(53, 54, 65);
            height: 30px;
        }

        .single-header {
            box-shadow: inset 0 -1px 0 rgb(53, 54, 65);
            height: 30px;
        }

        .single-header-top {
            height: 30px;
        }

        .single-header-bottom {
            height: 30px;
            position: absolute;
            top: -10px;
        }
    }
        
    tbody {
        border-bottom: 1px solid rgb(40, 46, 55);
        background-color: rgb(42, 38, 60);

        .odd-row {
            background-color: rgb(23, 18, 37);
        }

        .even-row {
            background-color: rgb(5, 4, 14);
        }

        tr:hover {
            background-color: rgb(53, 54, 65)!important;
        }
        
        td {
            height: 28px;
            padding: 0;
            border-bottom: 1px solid rgb(53, 54, 65);
            border-right: 1px solid rgb(53, 54, 65);
        }
    } 
}

.greyColumn {
    background-color: rgb(42,38,60);
}

.align-header-right {
    // right: 0;
}

.align-right {
    text-align: right;
}

.width-90 {
    min-width: 90px;
}

.width-72 {
    min-width: 72px;
}

.width-70 {
    min-width: 70px;
}

.width-50 {
    min-width: 50px;
}

.width-48 {
    min-width: 48px;
}

.width-40 {
    min-width: 40px;
}

.width-24 {
    min-width: 24px;
}
